body {
    color: #444;
    font-family: sans-serif;
    font-weight: 100
}
table {
    background-color: #f9fcff;
    border-radius: 3px
}
th {
    background-color: #ddeeff;
    padding: 5px;
    font-weight: 600;
}
h1 {
    font-size: 1.5em;
    font-weight: 400;
}
.calendar-header-day {
    background-color: #fff;
    padding: 5px;
}
.calendar-day {
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    background-color: #e4f2ff;

}
.calendar-day:hover {
    background-color: #d1e8fd;
}
.calendar-day.today {
    background-color: #ffdd00;
    font-weight: 600;
    border-radius: 10%;
}
tr>td:nth-child(1n +6){
    color: #eb0808;
}
